@media (min-width: 800px) {

    .et-hero-tabs,
    .et-slide {
        h1 {
            font-size: 3rem;
        }

        h3 {
            font-size: 1rem;
        }
    }

    .et-hero-tab {
        font-size: 1rem;
    }
}

@media (max-width: 500px) {
    .redes {
        margin-left: 22px;
    }

    .wrapper .icon {
        width: 15px;
        height: 15px;
    }

    .card {
        width: 80%;
    }
}