.masInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background: #e9ecef;
    text-align: center;
    padding: 0;

}